body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f3f3f3;
}

.calculator {
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
}

.top {
    
    display: flex;
}

#display {
    border-radius: 15px;
    flex: 1;
    height: 40px;
    font-size: 20px;
}

.buttons {
   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

button {
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
}

.history {
    margin-top: 15px;
}

/* .dark {
    background: #222;
    color: white;
} */